/node_modules
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
yarn.lock
Dockerfile
storage/*/*
!storage/framework/*
storage/framework/*/*
.phpunit.result.cache
.idea
.lock
.vscode
.gitignore
.gitattributes
.gitignore
.env
